		div {
			font-family: Montserrat;
			font-size: 12px;
		}
        button{
            width: 150px;
            height:30px;
            border-radius: 4px;
            margin-bottom:15px;
			font-family: 'Montserrat'
		}
		button:hover {background-color: #fff0f0;}
		button:active {background-color: #ffc6c6;}
        .on{
            color:#666;
            background-color: #ccc;
        }
        .off{
            color:#888;
            background-color: white;
        }
		h1{
			font-family: 'Permanent Marker';
			margin: 10px 0 30px 190px;
			font-size: 60px;
		}
		table {
			border-width: 0px;
			border-spacing: 0px;
		}
		.facts{
			font-family: 'Montserrat';
			font-size: 12px;
			background-color:#f7f7f7;
			margin-bottom: 100px;
		}
		.settings{
			font-family: 'Montserrat';
			font-size: 12px;
			margin-bottom: 30px;
		}
		table.facts > tr {
			height: 35px;
			margin-bottom: 10px;
		}
		table.facts > tr:hover {
			background-color:#fff0f0;
		}
		table.facts > tr > th{
			text-align: left;
			background-color: #ffc6c6;
			padding-left: 10px;
			vertical-align: center;
		}
		table.facts > tr > td{
			padding: 10px;
			vertical-align: top;
		}
		input{
            margin-bottom:15px;
			font-family: 'Montserrat';
			width: 200px;
			height: 24px;
		}
		#app{
			margin-left: 150px
		}
		.Wrapper{
			display: inline-block;
			position: relative;
			width: 64px;
			height: 64px;
		}
		
		.LoadingMessage{
			margin-left: 100px;
			margin-top: 10px;
			font-weight: 900;
			color: #ffc6c6;
			font-size: 30px;
		}
		
		div.RingSpinner{
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			margin: 6px;
			border: 6px solid #ffc6c6;
			border-radius: 50%;
			animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: #ffc6c6 transparent transparent transparent;

			:nth-child(1) {
				animation-delay: -0.45s;
			}
			:nth-child(2) {
				animation-delay: -0.3s;
			}
			:nth-child(3) {
				animation-delay: -0.15s;
			}
		}
		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }	
